In [1]:
from mpl_toolkits.mplot3d import Axes3D
from sklearn.preprocessing import StandardScaler

import matplotlib.pyplot as plt # plotting
import matplotlib.image as mpimg

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

import os # accessing directory structure

In [2]:
DATASET_PATH = "/media/vidhikatkoria/Research/fashion-product-images-small/myntradataset/"
print(os.listdir(DATASET_PATH))

['styles.csv', 'images']

In [3]:
df = pd.read_csv(DATASET_PATH + "styles.csv")
df['image'] = df.apply(lambda row: str(row['id']) + ".jpg", axis=1)
# df = df.sample(frac=1).reset_index(drop=True)
df[6040:6050]

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
6040,52100,Women,Apparel,Topwear,Kurtas,Red,Summer,2012.0,Ethnic,Myntra Women Red Printed Kurta,52100.jpg
6041,14715,Men,Apparel,Topwear,Shirts,White,Fall,2011.0,Formal,Indigo Nation Men Formal Shirt White Shirts,14715.jpg
6042,44065,Men,Personal Care,Fragrance,Perfume and Body Mist,Blue,Spring,2017.0,Casual,Boss Men Perfume,44065.jpg
6043,5342,Men,Footwear,Shoes,Casual Shoes,Green,Summer,2011.0,Casual,Fila Men's Fitness Hiker Olive Black Yellow Shoe,5342.jpg
6044,37597,Boys,Apparel,Topwear,Tshirts,White,Summer,2012.0,Casual,Madagascar3 Boys White Printed T-Shirt,37597.jpg
6045,11267,Men,Apparel,Bottomwear,Trousers,Black,Fall,2011.0,Formal,Indigo Nation Men Black self structure Black T...,11267.jpg
6046,41517,Men,Accessories,Eyewear,Sunglasses,Grey,Winter,2016.0,Casual,Basics Men Sunglasses,41517.jpg
6047,33137,Women,Footwear,Shoes,Heels,Black,Winter,2015.0,Casual,Catwalk Women Black Heels,33137.jpg
6048,24180,Unisex,Footwear,Shoes,Casual Shoes,Black,Summer,2012.0,Casual,Converse Unisex Chuck Taylor All Stars New Yor...,24180.jpg
6049,44859,Men,Apparel,Topwear,Tshirts,Black,Summer,2012.0,Casual,Puma Men Black Ferrari Polo T-shirt,44859.jpg

In [4]:
#get category wise image list
category_list = []
x = df.copy()
x = x.loc[df['articleType'] == 'Shirts','image']

In [5]:
xy = df.copy()
xy = xy.loc[df['articleType'].isin(['Shirts', 'Tshirts','Sarees','Kurtas']),'image']
xy.count()

12558

In [31]:
# extract only 1000 images for each category except saree
import shutil, os
dest_path = "/media/vidhikatkoria/Research/vr_dataset/dress_dataset/"
category_list = list(xy)
for f in category_list[:1000]:
    try :
        image_path = os.path.join(DATASET_PATH,'images/',f)
        shutil.copy(image_path, dest_path)
    except:
        pass

In [7]:
listOfFiles = os.listdir(dest_path)
# print(listOfFiles)

In [8]:
len(listOfFiles)

35

In [34]:
p = df.copy()
criterion = lambda row: row['image'] in listOfFiles
not_in = p[p.apply(criterion, axis=1)]
not_in

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,53759.jpg
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt,1855.jpg
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt,30805.jpg
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt,26960.jpg
...,...,...,...,...,...,...,...,...,...,...,...
44434,1644,Men,Apparel,Topwear,Tshirts,Red,Fall,2010.0,Sports,Kipsta Men Loose Fit Round Neck Jersey Red,1644.jpg
44436,30614,Men,Apparel,Topwear,Tshirts,Black,Summer,2012.0,Sports,Nike Men Striped Black Jersey,30614.jpg
44437,13496,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Chimp Men Teja Main Hoon Blue Tshirts,13496.jpg
44439,12544,Women,Apparel,Topwear,Tshirts,Peach,Fall,2011.0,Casual,Tantra Women Printed Peach T-shirt,12544.jpg
44443,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt,18842.jpg

In [35]:
criterion = lambda row: row['image'] in listOfFiles
not_in = df[df.apply(criterion, axis=1)]
not_in

,id,gender,masterCategory,subCategory,articleType,baseColour,season,year,usage,productDisplayName,image
0,15970,Men,Apparel,Topwear,Shirts,Navy Blue,Fall,2011.0,Casual,Turtle Check Men Navy Blue Shirt,15970.jpg
4,53759,Men,Apparel,Topwear,Tshirts,Grey,Summer,2012.0,Casual,Puma Men Grey T-shirt,53759.jpg
5,1855,Men,Apparel,Topwear,Tshirts,Grey,Summer,2011.0,Casual,Inkfruit Mens Chain Reaction T-shirt,1855.jpg
6,30805,Men,Apparel,Topwear,Shirts,Green,Summer,2012.0,Ethnic,Fabindia Men Striped Green Shirt,30805.jpg
7,26960,Women,Apparel,Topwear,Shirts,Purple,Summer,2012.0,Casual,Jealous 21 Women Purple Shirt,26960.jpg
...,...,...,...,...,...,...,...,...,...,...,...
44434,1644,Men,Apparel,Topwear,Tshirts,Red,Fall,2010.0,Sports,Kipsta Men Loose Fit Round Neck Jersey Red,1644.jpg
44436,30614,Men,Apparel,Topwear,Tshirts,Black,Summer,2012.0,Sports,Nike Men Striped Black Jersey,30614.jpg
44437,13496,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Chimp Men Teja Main Hoon Blue Tshirts,13496.jpg
44439,12544,Women,Apparel,Topwear,Tshirts,Peach,Fall,2011.0,Casual,Tantra Women Printed Peach T-shirt,12544.jpg
44443,18842,Men,Apparel,Topwear,Tshirts,Blue,Fall,2011.0,Casual,Puma Men Graphic Stellar Blue Tshirt,18842.jpg

In [36]:
not_in.drop(["id","gender", "masterCategory","subCategory","baseColour","season","year","usage","productDisplayName"], axis = 1, inplace = True)
not_in

      articleType      image
0          Shirts  15970.jpg
4         Tshirts  53759.jpg
5         Tshirts   1855.jpg
6          Shirts  30805.jpg
7          Shirts  26960.jpg
...           ...        ...
44434     Tshirts   1644.jpg
44436     Tshirts  30614.jpg
44437     Tshirts  13496.jpg
44439     Tshirts  12544.jpg
44443     Tshirts  18842.jpg

[12555 rows x 2 columns]

In [37]:
d = not_in.rename(columns={"articleType": "label"})
d

         label      image
0       Shirts  15970.jpg
4      Tshirts  53759.jpg
5      Tshirts   1855.jpg
6       Shirts  30805.jpg
7       Shirts  26960.jpg
...        ...        ...
44434  Tshirts   1644.jpg
44436  Tshirts  30614.jpg
44437  Tshirts  13496.jpg
44439  Tshirts  12544.jpg
44443  Tshirts  18842.jpg

[12555 rows x 2 columns]

In [38]:
dataf = d.reset_index(drop=True, inplace=True)

In [39]:
d

In [22]:
d.to_csv('/media/vidhikatkoria/Research/vr_dataset/data_sp.csv', index=False)